<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-push-6 col-sm-push-6 no-padding">
      <div class="assistance-container">
        <div class="assistance-title">Need assistance?</div>
        <div class="assitance-subtitle">
          <i class="fa fa-phone footer-circle-icon" aria-hidden="true"></i>
          1-888-579-5910
        </div>
        <div class="assistance-paragraph">
          When calling, use member ID
          <span class="highlighted">791509951</span>
          <br>
          <span class="highlighted">Weekdays</span> 8AM - 9PM Easter
          <br>
          <span class="highlighted">Weekends</span> 12PM - 8PM Easter
        </div>
        <div class="assitance-subtitle">
          <i class="fa fa-envelope footer-circle-icon email-icon" aria-hidden="true"></i>
          help@xyz.com
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-pull-6 col-sm-pull-6">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 con-lg-6 display-center footer-content">
          <div class="title">About Us</div>
          <div class="text-link">About XYZ</div>
          <div class="text-link">FAQs</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 con-lg-6 display-center footer-content">
          <div class="title">Resources</div>
          <div class="text-link">Set Goals</div>
          <div class="text-link">XYZ Tips</div>
        </div>
      </div>
      <div class="row">
        <div class="social-buttons-container">
          <div class="social_button">
            <i class="fa fa-facebook footer-circle-icon" aria-hidden="true"></i>
          </div>
          <div class="social_button">
            <i class="fa fa-twitter footer-circle-icon" aria-hidden="true"></i>
          </div>
          <div class="social_button">
            <i class="fa fa-google-plus footer-circle-icon" aria-hidden="true"></i>
          </div>
          <div class="social_button">
            <i class="fa fa-instagram footer-circle-icon" aria-hidden="true"></i>
          </div>
          <div class="social_button">
            <i class="fa fa-pinterest footer-circle-icon" aria-hidden="true"></i>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row footer-bottom-container">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 display-center">
      <div class="footer-bottom-left">
        <div class="footer-link">XYZ &copy; 2017 All Right Reserved</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 display-center">
      <div class="footer-bottom-right">
        <div class="footer-link">Terms & Conditions</div>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <div class="footer-link">Privacy Policy</div>
      </div>
    </div>
  </div>
</div>