body{
  margin: 0;
}

.title{
  font-size: 36pt;
  color: #000245;
  font-family: merlo_neuesemi_bold_italic;
}

.no-padding {
  padding: 0 !important;
}

.main-content-container{
  margin-top: 70px;
}

.display-center {
  text-align: center;
}

.title-container {
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}