<div class="container-fluid reports-container">
  <div class="row">
    <div class="col-xs-12 display-center title-container">
      <h1 class="title">The Honest Company, Inc.</h1>
    </div>
  </div>
  <div class="row company-info-container">
    <div class="col-xs-12 col-md-7 col-lg-6 col-lg-push-3">
      <div>
        <span class="label-title info-label"> Doing Bussiness as </span>
        <span class="label-value company-name"> The Honest Company </span>
      </div>
      <div>
        <span class="label-title info-label"> Address </span>
        <span class="label-value"> 12130 Millennium Dr, Los Angeles, CA 90094 </span>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <span class="label-title info-label"> Phone Number </span>
          <span class="label-value"> (888)862-8818 </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <span class="label-title info-label"> Website </span>
          <span class="label-value"> honest.com </span>
          <div class="arrow-container">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg-2 col-lg-pull-5 tax-container">
      <div class="tax-circle">
        <div class="tax-id">tax id</div>
        <div class="tax-hashed">xx-xxx
          <span class="tax-number">4861</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="report-updates-container">
        <label class="counter-update">report updates in</label>
        <label class="counter-update-number">22</label>
        <label class="counter-update-days">days</label>
        <img src="/assets/img/refresh-date.png" class="counter-marker">
      </div>
    </div>
  </div>
  {{reports-credit-risk}}
  <div class="row bg-main-light">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="powered-area">
        <div class="powered-text"> This report was generated on
          <span class="powered-highlighted">{{today}}</span> and will be updated in
          <span class="powered-highlighted">22 days</span>
        </div>
        <img class="powered-logo pull-right" src="/assets/img/experian.png" />
      </div>
    </div>
  </div>
</div>
{{footer-panel class="light"}}