<div class="container-fluid">
  {{navigation-panel goSettings=(action "goSettings") goReports=(action "goReports") logout=(action "logout")}}
</div>
<div class="container-fluid main-content-container">
  <div class="row">
    {{outlet}}
  </div>
</div>